<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="public/library/bootstrap/css/bootstrap.min.css" >
    
    <title>Hello, About us!</title>
    <!-- <link rel="stylesheet" type="text/css" href="public/font-awesome/font-awesome.min.css"> -->

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&family=Work+Sans:wght@100&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="public/css/main.css">
    <link rel="stylesheet" type="text/css" href="public/css/about_us.css">

  </head>
  <body>
    
    <div class="wrapper">
      <div class="header">
        <!-- menu bar -->
        <div class="menu_bar">
            <nav class="navbar navbar-expand-lg navbar-light bg-custom">
              <a href="index.html">
                <img class="menu_bar_logo" src="public/images/logo.jpg">
                <img class="menu_bar_mobile_logo" src="public/images/mobile-logo.png">
              </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto navbar_menu">
                    <li class="nav-item">
                      <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="services.html" tabindex="-1" aria-disabled="true">Services</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="faq.html" tabindex="-1" aria-disabled="true">FAQ</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link border_none" href="contact_us.html" tabindex="-1" aria-disabled="true">Contact Us</a>
                    </li>
                  </ul>
                  <div class="form-inline my-2 my-lg-0 nav_item_right">

                    <li class="nav-item">
                      <span class="icon_menu"><i class="fa fa-th"></i></span>
                      <span>018 267-27-511</span>
                    </li>
                    <li class="nav-item">
                      <span class="icon_menu"><i class="fa fa-map-marker"></i></span>
                      <span>193 Steele Street, NY</i></span>
                    </li>
                   <div class="side_menu_button">
                      <a class="side_menu_button_link normal qode-side-menu-button-svg" href="javascript:void(0)">

                      <svg version="1.1" x="0px" y="0px" width="97px" height="90px" viewBox="0 0 97 90" enable-background="new 0 0 97 90" xml:space="preserve">
                      <rect width="97" height="90"></rect>
                      <line stroke-miterlimit="10" x1="33.5" y1="39.5" x2="63.5" y2="39.5"></line>
                      <line stroke-miterlimit="10" x1="33.5" y1="50.5" x2="63.5" y2="50.5"></line>
                      </svg> </a>
                    </div>

                  </div>
                </div>
            </nav>
        </div>
        <div class="services_bk">
          <div class="about_us_text_bk">ABOUT US</div>
        </div>
        <div class="clearfix"></div>
        <!-- slider top -->
        
      </div>
      
      <!-- about us -->
      <div class="container_custom_card container_custom_mobile">

      
        <div class="about_us_top text-center">
            <div class="about_us_intro">
              <!-- <img src="public/images/background/section-title-image-4.png" class="about_us_image"> -->
              <div class="about_us_block">
                <p class="about_us_text">COMPANY OVERVIEW</p>
                <p class="about_us_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eius mod tempor incididunt ut labore et dolore mag</p>
              </div>
            </div>
        </div>

        <div class="row card_content">
          <div class="col-sm-4 box_card mb-5">
            <div class="card">
              <img src="public/images/card/home-image-1.jpg" class="card-img-top" alt="...">
              <div class="card-body card_body_1">
                <h5 class="card-title">COMPANY</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consec a tetur adipisicing elit, sed do eiusmods tempor incididunt ut labore et</p>
                <a href="#" class="view_more">View more
                  <i class="fa fa-angle-right view_more_icon"></i>
                </a>

              </div>
            </div>
          </div>

          <div class="col-sm-4 box_card mb-5">
            <div class="card">
              <img src="public/images/card/home-image-2-1.jpg" class="card-img-top" alt="...">
              <div class="card-body card_body_2">
                <h5 class="card-title">SERVICES</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consec a tetur adipisicing elit, sed do eiusmods tempor incididunt ut labore et</p>
                <a href="#" class="view_more">View more
                  <i class="fa fa-angle-right view_more_icon"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-sm-4 box_card mb-5">
            <div class="card">
              <img src="public/images/card/home-image-3.jpg" class="card-img-top" alt="...">
              <div class="card-body card_body_3">
                <h5 class="card-title">PEOPLE</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consec a tetur adipisicing elit, sed do eiusmods tempor incididunt ut labore et</p>
                <a href="#" class="view_more">View more
                  <i class="fa fa-angle-right view_more_icon"></i>
                </a>
              </div>
            </div>
          </div>  
        </div>

      </div>

      <!-- clients -->
      <div class="container_custom container_custom_mobile">

        <div class="client_top text-center">
          <div class="client_intro">
            <!-- <div class="client_image"> </div> -->
            <img class="client_image" src="public/images/background/section-title-image-3.png">
            <p class="client_text">CLIENTS</p>
              
            </div>
        </div>

        <div class="row">
          <div class="col-sm-2_custom text-center">
              <img src="public/images/client/client-1.png" w-100>
          </div>
          <div class="col-sm-2_custom text-center">
              <img src="public/images/client/client-2.png" w-100>
          </div>
          <div class="col-sm-2_custom text-center">
              <img src="public/images/client/client-3.png" w-100>
          </div>
          <div class="col-sm-2_custom text-center">
              <img src="public/images/client/client-4.png" w-100>
          </div>
          <div class="col-sm-2_custom text-center">
              <img src="public/images/client/client-5.png" w-100>
          </div>
        </div>
      </div>

      <!-- footer -->
    
      
      <div class="section_boxed_footer">
        <div class="container_custom container_custom_footer_mobile">
          <div class="row">
            <div class="col-sm-4 box_footer">
                
                <h5>BRIDGE</h5>
                <p> © Copyright <a href="">Qode Interactive</a></p>
                <p> Etur dip isicing elit sed do eiusm</p>
                
                <p>
                  <i class="fa fa-th"></i>  &nbsp;0018 267-527-511215
                </p>
                <p >
                  <i class="fa fa-map-marker"></i> &nbsp;193 Steele Street, Burr Ridge
                </p>
                
                <p >
                  <i class="fa fa-clock-o"></i>  &nbsp;Mon - Sat: 7:00 - 22:00
                </p>

            </div>

            <div class="col-sm-3 box_footer">
               
                <h5>PAGES</h5>
                <p>
                  <a href="#"> Terms & Conditions </a>
                </p>
                <p>
                  <a href="#"> Our policy </a>
                </p>
                <p>
                  <a href="#"> Accessibility </a>
                </p>
                <p>
                  <a href="#"> Cookies policy </a>
                </p>
            </div>
            <div class="col-sm-3 box_footer">
                
                <h5>OPENING HOURS</h5>
                <p>
                  Monday – Friday:<br>
                  10:00am – 01:00am
                </p>
                <p>
                  Saturday – Sunday:<br>
                  10:00am – 03:00am
                </p>

            </div>
            <div class="col-sm-2 box_footer">
               
                <h5>POLICY</h5>
                <p>
                 <a href="#"> Terms & Conditions </a>
                </p>
                <p>
                  <a href="#"> Our policy </a>
                </p>
                <p>
                  <a href="#"> Accessibility </a>
                </p>
                <p>
                  <a href="#"> Cookies policy </a>
                </p>
            </div>

          </div>
        </div>
      </div>
      
      <!-- menu right fix -->
      <div class="menu_right">
        <div class="menu_right_content">
          <div class="close_menu">
            <img src="public/images/close_side_menu.png">
          </div>
          <img src="public/images/sidearea-logo.png">
          <p class="mt-3 mb-5">Lorem ipsum dolor sit amet, consec a tetur adipisicing elit, sed do eiusmods tempor incididunt ut labore et</p>
          <div class="menu_right_content_text">
            <p>
              <i class="fa fa-th"></i>  &nbsp;&nbsp;0018 267-527-511215
            </p>
            <p>
              <i class="fa fa-map-marker"></i> &nbsp;&nbsp;193 Steele Street, Burr Ridge
            </p>
            <p>
              <i class="fa fa-clock-o"></i>  &nbsp;&nbsp;Mon - Sat: 7:00 - 22:00
            </p>
          </div>
        </div>
      </div>

      <!-- back top -->
      <div id="back_to_top" class="on">
          <i class="fa fa-angle-up"></i>
      </div>

    </div>
   

    <!-- <script src="public/library/jquery/jquery-3.3.1.slim.min.js" ></script> -->
    <script src="public/library/jquery/jquery.min.js"></script>
    <script src="public/js/popper.min.js" ></script>
    <script src="public/library/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="public/js/main.js"></script>

  </body>
</html>