/*menu top*/
.about_bk{
   /* background: url(../images/background/about-us-title-image.jpg);
    height: 440px;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;*/
}
.services_bk{
    background: url(../images/background/about-us-title-image.jpg);
    height: 450px;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
}

.bg-custom {
    color: white !important;
    padding: 0px;
    border-bottom: 1px solid #ffffff75;
}
.about_us_text_bk{
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 110px;
    line-height: 120px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;

    position: absolute;
    top: 25%;
    left: 36%;
}

.form-inline.my-2.my-lg-0.nav_item_right {
    list-style: none;
}

.menu_bar{
    position: absolute;
    z-index: 2;
    width: 100%;
}
.menu_bar li {
    padding:0px 20px;
}
.menu_bar li a {
    color: white;
}

.popup_menu.qode-popup-menu-svg-opener .qode-popup-menu-opener svg *, .side_menu_button .qode-side-menu-button-svg svg path, .side_menu_button .qode-side-menu-button-svg svg>* {
    stroke: currentColor;
}
.side_menu_button .qode-side-menu-button-svg svg line {
    color: #fff;
}

.nav_item_right .icon_menu {
    padding-right: 15px;
}
.nav-link.active{
    border-bottom: 1px solid white;
}
.menu_bar .nav-item:hover .nav-link{
    border-bottom: 1px solid white;
    color: white;
}

/*about us*/
.container_custom {
    width: 85%;
    margin: 100px auto;
}

.about_us_image{
    /*background: url(../images/background/section-title-image-4.png);
    background-repeat: no-repeat;
    height: 100px;
    background-position: top;*/
}
.about_us_text {
    color: #052941;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 80px;
    line-height: 90px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: uppercase;
    
}
.about_us_intro {
    position: relative;
    height: 270px;
}
.container_custom_mobile .card-title{
    font-size: 28px;
    font-weight: 700;
}
.about_us_text {
    position: absolute;
    top: 15%;
    left: 24%;
}
.about_us_content {
    position: absolute;
    bottom: 23%;
    left: 30%;
    color: #4d4d4d;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-style: normal;
    letter-spacing: 0px;
    text-transform: none;
    width: 40%;
}
.card_body_1 {
    background: #e34530;
    color: white;
}
.card_body_2 {
    background: #052941;
    color: white;
}
.card_body_3 {
    background: #e34530;
    color: white;
}
.view_more{
    color: white;
}

/*client*/


.client_intro {
    position: relative;
    height: 270px;
}
.client_text {
    color: #052941;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 80px;
    line-height: 90px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: uppercase;

    position: absolute;
    top: 15%;
    left: 40%;
    
}

.col-sm-2_custom{
    max-width: 20%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
@media (max-width: 960px){
    .col-sm-2_custom{
        max-width: 100%;
        margin-bottom: 20px;
        
    }
}

/*footer*/
.box_footer,.box_footer p a{
    color: white;
}
.section_boxed_footer {
    background: url(../images/background/section-pattern.jpg);
    padding: 30px 0;
}

/*menu right*/

/*back top*/
#back_to_top {
    background: #032339;
    position: fixed;
    border: 10%;
    bottom: 4%;
    right: 2%;
    padding: 15px 20px;
    color: white;
    cursor: pointer;

    display: none;
}
#back_to_top:hover{
    background: #0b314b;
}



/*reponsive*/
@media (max-width: 1554px){
    .about_us_content{
        width: 47%;
        bottom: 18%;
        left: 30%;
    }
    .about_us_image{
        width: 90%;
    }
}

@media (max-width: 1024px){
  .services_bk{
    height: 460px;
    width: 100%;
    background-size: cover;
  }
  .about_us_text_bk{
    transform: translate(0, -50%)
  }
  .about_us_text{
    top: 10%;
    left: 0%;
    width: 100%;
  }
  .about_us_content{
    width: 100%;
    left: 0%;
  }
  .box_card{
    max-width: 100%;
    flex: 0 0 100%;
  }
  .card{
    width: 100%;
  }
  .client_text{
    left: 35%;
  }
  .container_custom_mobile{
    width: 90%;
  }

}

@media (max-width: 770px){
    .nav-link.active {
        border-bottom: 1px solid #eaeaea;
    }
    .side_menu_button {
        display: none;
    }
   
    .menu_bar{
        position: relative;
    }
    .services_bk{
        height: 210px;
    }
    .about_us_image{
        width: 90%;
    }
    .about_us_text{
        font-size: 70px;
        line-height: 64px;
        width: 90%;
        left: 5%;
        top: 3%;
    }
    .about_us_text_bk {
        position: relative;
        transform: translate(0, -50%);
        top: -95px;
        left: 270px;
        z-index: 10;
        font-size: 45px;
    }
    .about_us_content{
        width: 90%;
        top: 40%;
        left: 5%;
    }

    .container_custom_mobile{
        margin-top: 0px;
        margin-bottom: 80px;
    }
    .about_us_top{
        height: 340px;
    }

    .client_image {
        width: 60%;
    }
    .client_text{
        font-size: 60px;
        top: 5%;
        left: 36%;
    }
    .client_intro {
        height: 150px;
    }
    .about_us_image{
        top: 8%;
        position: absolute;
        left: 5%;
    }
    .col-sm-2_custom{
        max-width: 33%;
    }
    .about_us_top {
        height: 265px;
    }
}

@media (max-width: 640px){
    .about_us_text_bk{
        transform: translate(-50%, -50%)
    }
    .services_bk{
        height: 150px;
    }
    .col-sm-2_custom{
        max-width: 100%;
    }
    .client_text{
        top: -8%;
        left: 18%;
    }
    .client_image{
        width: 90%;
    }
    .about_us_text{
        font-size: 54px;
        line-height: 48px;
    }
    .about_us_content{
        top: 44%;
    }
    .card{
        width: 85%;
    }
    .about_us_top{
        height: 300px;
    }
}