
.wrapper{
  width: 100%;
}
/*menu right*/
.close_menu img:hover{
  transform: rotate(90deg);
  transition: 1s;
}
.close_menu img{
  transform: rotate(-90deg);
  transition: 1s;
}
.menu_right_content {
    background: #052941;
    width: 30%;
    height: 100vh;
    color: white;
    padding: 100px;
    position: fixed;
    top: 0;
    right: 0;

    display: none;
}
.menu_right_content>p{
    color: #ffffff; 
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 28px;

    font-family: 'Work Sans', sans-serif;
}


.menu_right_content_text p{
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 28px;
  font-family: 'Work Sans', sans-serif;
}
.menu_right_content{
  display: none;
  right: -32%;
  padding: 180px 120px 0px 150px;
}
.close_menu {
    position: absolute;
    top: 21px;
    right: 25px;
    cursor: pointer;
}

.nav_item_right{
  display: contents;
}
.carousel-caption {
  top: 0 !important;
}
/**/
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
a.nav-link {
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: capitalize;
}

.section_boxed_footer {
    line-height: 28px;
    font-style: normal;
    font-weight: 300;
}


/*about us*/
.box_card{
  text-align: -webkit-center;
}
.card{
  text-align: left;
}

@media (max-width: 650px){
    #back_to_top {
        display: none;
    }

}