/*menu*/
      .close_menu img:hover{
        transform: rotate(90deg);
        transition: 1s;
      }
      .close_menu img{
        transform: rotate(-90deg);
        transition: 1s;
      }
      .menu_right_content p{
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0px;
        text-transform: none;
        line-height: 28px;
      }
      .menu_right_content_text p{
          color: #ffffff;
          font-size: 14px;
          font-weight: 300;
          letter-spacing: 0px;
          text-transform: none;
          line-height: 28px;
      }
      .menu_right_content{
        width: 30%;
      }
      .menu_right_content{
          display: block;
          right: -32%;
          padding: 180px 150px 0px 150px;
      }


.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
a.nav-link {
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: capitalize;
}

.section_boxed_footer {
    line-height: 28px;
    font-style: normal;
    font-weight: 300;
}


