
/*menu top*/
.header{
    background: #e34530;
}
.bg-custom {
/*    background: #e34530;*/
    color: white !important;
    padding: 0px;
    border-bottom: 1px solid #ffffff75;
}

.form-inline.my-2.my-lg-0.nav_item_right {
    list-style: none;
}

.menu_bar li {
    padding:0px 20px;
}
.menu_bar li a {
    color: white !important;
}

.popup_menu.qode-popup-menu-svg-opener .qode-popup-menu-opener svg *, .side_menu_button .qode-side-menu-button-svg svg path, .side_menu_button .qode-side-menu-button-svg svg>* {
    stroke: currentColor;
}
.side_menu_button .qode-side-menu-button-svg svg line {
    color: #fff;
}

.nav_item_right .icon_menu {
    padding-right: 15px;
}
.nav-link.active{
    border-bottom: 1px solid white;
}
.menu_bar .nav-item:hover .nav-link{
    border-bottom: 1px solid white;
}
/*slider*/

.carousel-item-custom {
    background: #e34530;
    padding: 160px 0px 160px 80px;
}
.carousel-item-custom h1{

    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    text-align: left;
    line-height: 80px;
    font-weight: 700;
    font-size: 80px;
    width: 649px;
    padding-bottom: 20px;
}
.carousel-item-custom .carousel-caption p{
	font-family: "Work Sans";
    visibility: visible;
    text-align: left;
    line-height: 30px;
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: normal;
    width: 445px;

    padding-bottom: 20px;
}
.carousel-item-custom .carousel-caption button{
    background-color: rgb(5, 41, 65);
    font-family: "Work Sans";
    float : left;
    line-height: 50px;
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 16px;
    border-color: rgb(77, 77, 77);
    border-style: none;
    margin: 0px;
    border-radius: 0px;
    padding: 0px 45px;
    color: rgb(255, 255, 255); 
   
}
.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 15px;
}


/*select_box*/
.section_boxed {
    background: url(../images/background/section-pattern.jpg);
    padding: 30px 0;
}

.section_boxed .box {
    text-align: center;
    color: white;
}
.icon_section-boxed img {
    width: 80px;
    height: 76px;
}
/*about us*/
.container_custom {
    width: 85%;
    margin: 100px auto;
}

.about_us_image{
    background: url(../images/background/section-title-image-1.png);
    background-repeat: no-repeat;
    height: 100px;
    background-position: top;
}
.about_us_text {
    color: #052941;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 80px;
    line-height: 90px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: uppercase;
    
}
.about_us_intro {
    position: relative;
    height: 270px;
}

.about_us_text {
    position: absolute;
    top: 15%;
    left: 38%;
}
.about_us_content {
    position: absolute;
    bottom: 23%;
    left: 30%;
    color: #4d4d4d;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
    text-transform: none;
    width: 40%;
}
/*card*/
.card_body_1 {
    background: #e34530;
    color: white;
}
.card_body_2 {
    background: #052941;
    color: white;
}
.card_body_3 {
    background: #e34530;
    color: white;
}
.view_more{
    color: white;
}

/*slider bottom*/
.slide_bottom {
    height: 600px;
    background: url(../images/background/home-parallax-image-1.jpg);
    text-align: center;
    margin-top: 160px;
    padding: 100px 0;
}
.slide_bottom .carousel-item{
    height: 500px;
}
.slide_bottom .carousel-item p{
    color: #ffffff;
    font-size: 20px;
    line-height: 32px;
    text-transform: none;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
    width: 51%;
    margin : 30px auto;
}
.slide_bottom .carousel-item h4{
    text-transform: uppercase;
    color: white;
}


/*common_question*/
.container_custom {
    width: 85%;
    margin: 150px auto 100px auto;
}

.common_questions{
    padding-bottom: 20px;
}
.common_questions_image{
    background: url(../images/background/section-title-image-2.png);
    background-repeat: no-repeat;
    height: 100px;
    background-position: top;
}
.common_questions_dropdown i{
    font-size: 15px;
    float: right;
}
.common_questions_text {
    color: #052941;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 80px;
    line-height: 90px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: uppercase;
    
}
.common_questions_block{
    align-self: center;
}
.common_questions_intro {
    position: relative;
    height: 270px;
}

.common_questions_text {
    position: absolute;
    top: 15%;
    left: 25%;
}
.common_questions_content {
    position: absolute;
    bottom: 23%;
    left: 30%;
    color: #4d4d4d;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
    text-transform: none;
    width: 40%;
}

/*common_questions toogle*/
.dropdown-toggle::after{
    display: none;
}
.common_questions_dropdown{
    list-style: none;
}
.common_questions_dropdown h5{
    color: #052941;
    border-bottom: 1px solid #aaaa;
}
.title_dropdown{
 
    font-weight: bold;
}
.common_questions_dropdown a{
    text-decoration: none;
}

.common_questions_dropdown_content{
    border: none;
    font-family: 'Work Sans';
    font-weight: 700;
    padding-right: 10px;
}

.common_questions_dropdown{
    cursor: pointer;
}
.title_dropdown{
    float: left;
}

/*find us*/
.find_us_map{
    background : #e34530;
    padding: 100px 50px 100px 50px;
}
.item_find_us{
    color: white;
}
.find_us_content_bk{
    background: url(../images/background/section-title-image-11.png);
    position: absolute;
    top: -22px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    left: -20px;
}
.find_us_content h4{
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 55px;
    line-height: 60px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0px;

}
.find_us_content_title{
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    line-height: 60px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0px;
}

/*client*/
.client_image{
    background: url(../images/background/section-title-image-3.png);
    background-repeat: no-repeat;
    height: 100px;
    background-position: top;
}

.client_intro {
    position: relative;
    height: 270px;
}
.client_text {
    color: #052941;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 80px;
    line-height: 90px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: uppercase;

    position: absolute;
    top: 15%;
    left: 40%;
    
}

.col-sm-2_custom{
    max-width: 20%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
@media (max-width: 960px){
    .col-sm-2_custom{
        max-width: 100%;
        margin-bottom: 20px;
        
    }
}

.box_footer,.box_footer p a{
    color: white;
}
.section_boxed_footer {
    background: url(../images/background/section-pattern.jpg);
    padding: 30px 0;
}


/*menu right*/
.menu_right_content {
    background: #052941;
    width: 27%;
    height: 100vh;
    color: white;
    padding: 100px;
    position: fixed;
    top: 0;
    right: 0;
}
.close_menu {
    position: absolute;
    top: 4%;
    right: 8%;
    cursor: pointer;
}
.menu_right_content{
    display: none;
}
/*back top*/
#back_to_top {
    background: #032339;
    position: fixed;
    border: 10%;
    bottom: 4%;
    right: 2%;
    padding: 15px 20px;
    color: white;
    cursor: pointer;

    display: none;
}
#back_to_top:hover{
    background: #0b314b;
}

/*Hiệu ứng Jquery Accordion*/
.hieuung {
    WIDTH: 100%;
    MARGIN: auto;
    padding: 20px;
}

.motkhoi {
  cursor: pointer;
}
.motkhoi:hover {
     color: #E34530 !important;
}
.motkhoi span{
    text-transform: uppercase;
    font-weight: 700;
    color: #052941;
    line-height: 30px;
    font-family: roboto condensed,sans-serif;
    font-size: 23px;
    letter-spacing: 0;
    width:100%;
}
.motkhoi_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f4f4f4;
    border-bottom-color: #c0c9cf;
    padding-left: 15px;
    height: 75px;

}
.motkhoi .motkhoi_title :hover {
    color: #E34530;
}

.ndmotkhoi{
    box-sizing: border-box;
    color: #4d4d4d;
    font-family: work sans,sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-style: normal;
    font-weight: 300;
    padding: 14px 15px 12px;
}
.span_color{
    color: #E34530 !important;
}

.header_img_s{
    padding-top: 40px;
    position: absolute;
    z-index: 10;
    width: 360px;
    height: auto;
    transform: rotate(0deg);
img.menu_bar_logo {
    z-index: 10;
}

.header_img_net{
    width: 500px !important;
}
.header_img_vietnam{
    width: 235px;
}


/*footer*/
.section_boxed_footer h5{
    margin: 0 0 17px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 23px;
    letter-spacing: 0px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    font-style: normal;
}
.container_custom {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-style: normal;
    font-weight: 300;
}

.section_boxed_footer {
    line-height: 28px;
    font-style: normal;
    font-weight: 300;
}

/*reponsive*/
@media (max-width: 992px){
    .side_menu_button {
        display: none;
    }
}


/*about-us.html*/
